@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Bold-3.otf);
}
@font-face {
  font-family: Montserrat2;
  src: url(../font/Montserrat-Regular-8.otf);
}
@font-face {
  font-family: Montserrat3;
  src: url(../font/Montserrat-ExtraLight-5.otf);
}

.logo{
  margin-left: 6.25rem;
}
.navi-links{
right: 10%;
}

.hackerhouse-title {
  padding-top: 40px;
  margin-left: 112px;
}

.project {
  width: 1200px;
  margin: 0 auto;
  z-index: 1;
}
.hackerhouse-project-title {
  margin-top: 150px;
  font-size: 90px;
  font-weight: bold;
  font-family: "Montserrat2";
  display: flex;
  box-sizing: border-box;
  position: relative;
}
.hackerhouse-project-title .line {
  position: absolute;
  left: 40px;
  top: -48px;
  width: 80px;
  height: 8px;
  background-color: black;
}

.hackerhouse-project-title::before {
  padding-right: 10px;
  content: "[";
  font-size: 62px;
}
.hackerhouse-project-title::after {
  padding-left: 10px;
  content: "]";
  font-size: 65px;
}

.hackerhouse-project-detail {
  margin-top: 60px;
  width: 680px;
  font-size: 24px;
  font-family: "Montserrat2";
}

.hackerhouse-link {
  margin-top: 40px;
  width: 180px;
  height: 70px;
}

.apply-button {
  width: 180px;
}

.hackerhouse-time {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.hackerhouse-time::before {
  display: inline-block;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("../../content/images/hackerhouse/time.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hackerhouse-location {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.hackerhouse-location::before {
  display: inline-block;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("../../content/images/hackerhouse/location.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hackerhouse_container {
  width: 1220px;
  margin: 3.75rem  auto;
  margin-top: 8rem;
}

.hackerhouse_navi {
  margin-top: 3.75rem;
  display: flex;
  position: relative;
  gap: 120px;
}

.hackerhouse_navi_title {
  font-family: "Montserrat";
  font-size: 60px;
  line-height: 60px;
  color: #2222ff;
  padding-top: 40px;
}

.hackerhous_detail {
  font-family: "Montserrat2";
  width: 836px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #2222ff;
  padding: 10px 0;
}

.hackerhous_detail span {
  display: block;
}

.eventslist {
  display: flex;
  gap: 30px;
  padding-left: 0px;
  font-family: "Montserrat";
  font-size: 22px;
  color: rgba(4, 14, 255, 0.35);
  margin-top: 30px;
  position: relative;
}

.eventslist li {
  list-style-type: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.line {
  position: absolute;
  width: 0px;
  height: 1px;
  background-color: #2222ff;
  bottom: 0;
  transition: width ease 0.3s;
}

.eventslist li:active {
  color: #2222ff;
  border-bottom-color: #2222ff;
}


.event_container {
  display: flex;
  flex-wrap:wrap;
  width: 75rem;
  margin-top: 35px;
  gap: 12px;
}

.event_card {
  border: 2px solid #2222ff;
  border-radius: 6px;
  width: 392px;
  height: 294px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 31.43%
  );
}

.event_tag {
  width: 93%;
  display: flex;
  justify-content: space-between;
}

.event_name {
  height: 68px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  color: #2222ff;
  margin-top: 30px;
  margin-left: 30px;
}

.event_theme {
  padding: 0 4px;
  height: 32px;
  background: #2222ff;
  line-height: 32px;
  border-radius: 5px;
  color: #f5f5f6;
  font-family: "Montserrat";
  font-size: 15px;
  text-align: center;
  margin-top: 24px;
}

.event_card button {
  height: 1.75rem;
  background: #b7ead5;
  border: 2px solid #2222ff;
  border-radius: 9999px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  color: #2222ff;
  padding: 0px 12px;
  margin-top: 25px;
  margin-left: 30px;
}

.event_card button.UPCOMING {
  background-color: #b7ead5;
}
.event_card button.ONGOING {
  background-color: #FFB2DC;
}
.event_card button.PAST {
  background-color: #fae5c3;
}

.event_timeandlocation {
  display: flex;
  margin-top: 25px;
  margin-left: 30px;
}

.time,
.location {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  background: #ffffff;
  border: 2px solid #2222ff;
  border-radius: 5px;
  color: #2222ff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  margin-right: 5px;
}

.event_footer {
  width: 388px;
  height: 58px;
  background: #2222ff;
  border-top: 2px solid #2222ff;
  font-family: "Montserrat2";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #f5f5f6;
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.coming_img {
  margin: 70px auto;
}

.weoffer_nextpage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  cursor: pointer;
}

/* 2、活动提供的福利 */
.hackerhouse-offer-tittle {
  font-family: "Montserrat1";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  color: #0f1227;
  text-align: center;
  padding: 170px 0 100px 0;
}

.hackerhouse-offer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.hackerhouse-offer-container .hackerhouse-offer-littletittle {
  font-family: "Montserrat2";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.hackerhouse-offer {
  width: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Montserrat3";
  font-size: 14px;
  gap: 24px;
}

/* 媒体查询 */

@media only screen and (max-width: 500px) {
  .hackerhouse_navi_title {
    font-family: "Montserrat";
    font-size: 36px;
    line-height: 60px;
    padding: 10px 0 0 10px;
  }

  .hackerhous_detail {
    font-family: "Montserrat3";
    width: 390px;
    font-size: 10px;
    padding: 10px 0 0 10px;
  }

  .hackerhouse_container {
    margin: 0px auto;
    width: 100%;
  }

  .hackerhouse_navi {
    flex-direction: column;
    gap: 5px;
    margin-top: 4.6rem;
  }

  .eventslist {
    display: flex;
    gap: 18px;
    font-size: 20px;
    margin: 20px 0 0 10px;
  }

  .event_container {
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 20px;
    gap: 22px;
  }

  /* .hackerhouse_events {
     max-width: 800px; 
     margin-top: 40px; 
  } */

  .hackerhouse_navi_right {
    flex: 1;
    display: flex;
    justify-content: end;
    padding-right: 100px;
  }

  .hackerhouse_navi_right img {
    width: 180px;
    height: 180px;
  }
  .event_card {
    width: 362px;
    flex-direction: column;
  }

  .event_tag {
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
  }

  .event_name {
    margin-left: 20px;
  }

  .event_theme {
    margin-left: 20px;
  }

  .event_footer {
    width: 360px;
    height: 58px;
  }


  .event_timeandlocation {
    margin-left: 20px;
  }

  .coming_img {
    margin: 0px 40px;
    width: 300px;
    height: 280px;
  }

  .weoffer_nextpage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    cursor: pointer;
  }

  .hackerhouse-offer-tittle {
    padding: 80px 0 60px 0;
  }

  .project {
    width: 100%;
  }
  .hackerhouse1 {
    height: 700px;
    background-image: url("../../content/images/hackerhouse/background-media.png");
  }
  .hackerhouse1:before {
    background-image: url("../../content/images/hackerhouse/gradient-media.png");
  }
  .hackerhouse-project-title {
    width: 100%;
    margin-top: 80px;
    font-size: 30px;
    line-height: 1.3em;
    align-items: center;
    justify-content: center;
  }
  .hackerhouse-project-title .line {
    position: absolute;
    left: 50px;
    top: -20px;
    width: 50px;
    height: 5px;
  }
  .hackerhouse-project-title::after,
  .hackerhouse-project-title::before {
    font-size: 28px;
  }
  .hackerhouse-project-detail {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
  }

  .hackerhouse-link {
    display: block;
    margin: 40px auto;
    width: 180px;
  }

  .hackerhouse-time,
  .hackerhouse-location {
    justify-content: center;
  }
  .hackerhouse-offer-tittle {
    font-size: 30px;
  }
  .hackerhouse-offer-container {
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px 0;
  }
  .hackerhouse-offer {
    width: 80vw;
  }
  .time,
  .location {
    gap: 0px;
  
  }
}
