@font-face {
  font-family: MontserratLight;
  src: url(../../font/Montserrat-Light-6.otf);
}

@font-face {
  font-family: Montserratregular;
  src: url(../../font/Montserrat-Regular-8.otf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(../../font/Inter-Medium-8.otf);
}

@font-face {
  font-family:Inter-Black;
  src: url(../../font/Inter-Black-3.otf);
}


.chiangmai {
  margin-top: 3.5rem;
  width: 100vw;
  height: 38rem;
  background-color: #fcf0ec;
  /* display: flex;
  flex-wrap: nowrap; */
  background-image: url("../../../content/images/hackerhouse/chiangmai/ChiangMai.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  }

.chiangmai_activity {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 94%;
}

.chiangmai_activity_pic{
  width: 100%;
}

/* .chiangmai_bgleft img{
  width: 30.6875rem;
  height: 38rem;
}
.chiangmai_bgright img{
  width: 30.6875rem;
  height: 38rem;
} */

.chiangmai_theme {
  box-sizing: border-box;
  width: 348.54px;
  height: 56.45px;
  left: 522.39px;
  top: 288.02px;
  background: #73be30;
  border: 2px solid #00290c;
  border-radius: 35px;
  font-family: "Gliker-Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: #ffffff;
  border: 1.88677px solid #00290c;
}

.chiangmai_title {
  width: 444px;
  height: 72px;
  left: 486.27px;
  top: 234.75px;
  font-family: "Vantage Point Neo";
  font-style: normal;
  font-weight: 900;
  font-size: 60.3766px;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  color: #e6467f;
  border: 7px solid #ffffff;
  transform: matrix(1, 0, -0.29, 0.96, 0, 0);
}

.chiangmai_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13.1478px 35.0609px;
  gap: 8.77px;
  cursor:pointer;
  width: 220px;;
  height: 50.3px;
  border: 1.75304px solid #73be30;
  border-radius: 1.8px;
  background-color: #fcf0ec;
  font-family: "MontserratLight";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #387600;
}

.chiangmai_button:hover{
  background-color:#FFEF6B;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(229, 240, 76, 0.931);
  -moz-box-shadow: 10px 10px 99px 6px rgba(229, 240, 76, 0.931);
  box-shadow: 10px 10px 80px 6px rgba(229, 240, 76, 0.931);

}

.chiangmai_time {
  font-family: "MontserratLight";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #387600;
}

.chiangmai_add {
  font-family: "MontserratLight";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height */
  color: #73be30;
}

.chiangmai_email {
  font-family: " Montserratregular";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  /* identical to box height */
  color: #7d9f55
}

.chiangmai_timelink {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
  align-items: center;
}

.chiangmai_contact {
  display: flex;
  gap: 10px;
}

.chiangmai_support{
 width: 100%;
 height: 31.8125rem;
 margin: auto; 
 display: flex;
 align-items: center;
 justify-content: center;
}
.support_box{
  margin-top: 1.875rem;
  width: 44.25rem;
  height: 18.75rem;
  background-image: url("../../../content/images/hackerhouse/chiangmai/support.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.participate{
  width: 100%;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.participate_wrap{
  /* height: 80rem; */

  width: 37.5rem;
  display: flex;
  flex-direction: column;
}
.participate_title{
  margin:0 auto;
 background-image: url("../../../content/images/hackerhouse/chiangmai/participant.jpg");
 /* background-size: 100% 100%; */
 background-size: contain;
 background-repeat: space;
 height: 5rem;
 width: 36.4rem;
 margin-bottom: 3rem;
}

.participate_content h2{
font-family: 'Inter-Medium';
font-weight: 700;
font-size: 29px;
margin-bottom: 1.875rem;
}

.participate_content a{
  color:#6AB725;
  text-decoration-line: underline;
}

.participate_content span{
  color:#6AB725;
  text-decoration-line: underline;
  font-size: 16px;
  line-height: 150.02%;
  font-weight: 600;
font-family: 'Inter-Regular';
}

.contentbox1{
  margin-bottom: 3.65rem;
}

.contentbox2{
  margin-bottom: 3.65rem;
}
.contentbox1 ol{
  padding-left: -0.1rem;
}
.contentbox2 ol{
  padding-left: -0.1rem;
}
  .contentbox3 ul {
    padding-left: -0.1rem;
  }



/* 手机端 */
@media  only screen and (max-width: 380px) {

  .chiangmai{
    margin-top: 0rem; 
    height: 49rem;
    background-image: url('../../../content/images/hackerhouse/chiangmai/chiangmai_mobile.jpg');
  }

  .participate_wrap{
    height: 80rem;
  }


  .chiangmai_activity {
    width: 100vw;
    height: 78%;
  }

}




@media  (min-width: 381px) and (max-width: 540px) {
  .chiangmai {
    display: flex;
    flex-direction: column;
    height: 55rem;
  }

  .chiangmai_activity {
    width: 100vw;
    height: 76%;
  }
 
  .chiangmai{
    margin-top: 0rem; 
    background-image: url('../../../content/images/hackerhouse/chiangmai/chiangmai_mobile.jpg');
  }

  .participate_title{
    margin-top: 3.125rem;
  margin-left: 0.85rem;
    height: 2.5rem;
    width: 18.2rem;
   background-image: url("../../../content/images/hackerhouse/chiangmai/participant_mobile.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
  }

  .participate_content{
    margin-left: 0.75rem;
  }
 
  .participate_content h2{
    font-size: 1.35rem;
    }
  
    .participate_wrap{
      height: 120rem;
      width: 22rem;
    }
    .contentbox1 ol{
      padding-left: 0.1rem;
    }
    .contentbox2 ol{
      padding-left: 0.1rem;
    }
      .contentbox3 ul {
        padding-left: 0.1rem;
      }

}

/* ipad */

@media (min-width: 541px) and (max-width: 1025px) {
.chiangmai{
  height: 28rem;
}
.chiangmai_timelink{
  font-size: 16px;
}
.chiangmai_activity{
  height: 96%;
}


}