@font-face {
  font-family: Space Mono;
  src: url(../../font/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: Space Mono Bold;
  src: url(../../font/SpaceMono-Bold.ttf);
}

.montenegro-list-item {
  display: flex;
  justify-content: space-between;
}




.montenegro-list-item-text {
  flex: 1;
}

.montenegro-list-item-img {
  width: 50%;
}

.montenegro-list-item-text p {
  width: fit-content;
}

.montenegro-list-item-img img {
  width: 100%;
  height: 21.75rem;
  /* text-align: ; */
}


.montenegro_first {
  height: 54rem;
  background-color: #f5f5f6;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../../../content/images/hackerhouse/montenegro/montenegrobg.png");
  display: flex;
  flex-direction: column;
  margin-top: -3rem;
}

.montenegro_activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding-top: 16.9375rem;
}

.montenegro_slogon {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 7px #000000;
}

.montenegro_detail {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin-top: 1rem;
}

.montenegro_theme1,
.montenegro_theme2,
.montenegro_theme3 {
  background: #060607;
  border: 0.0625rem solid #ffffff;
  border-radius: 6.25rem;
  padding: 0.375rem 1.5rem;
  font-family: "Space Mono";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.montenegro_button {
  padding: 0.9375rem 2.5rem;
  gap: 0.625rem;
  width: 12.75rem;
  height: 3.375rem;
  /* HH/blue2 */
  background: #2222ff;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 28px rgba(35, 30, 255, 0.3);
  border-radius: 6.8125rem;
  margin-top: 1.25rem;
  color: #ffffff;
  font-family: "Space Mono";
  font-size: 16px;
}

.montenegro_second {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6.25rem;
  background: #f5f5f6;
}

.montenegro_title {
  padding-top: 5.625rem;
  font-style: normal;
  font-weight: 700;
  font-size: 27.5px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
  font-family: "Space Mono";
  margin-bottom: 1.875rem;
}

.montenegro_content {
  margin-top: 1.75rem;
  font-size: 1.125rem;
  width: 47.1875rem;
  text-align: center;
  font-family: "Space Mono";
}

.montenegro_third,
.montenegro_fourth,
.montenegro_fifth {
  /* height: 32.5rem; */
  background-color: #f5f5f6;
  font-family: "Space Mono";
}

.montenegro_third ol {
  list-style: auto;
}

.montenegro_participate {
  padding: 0.25rem 4.375rem;
  width: 43.8125rem;
  height: 29.0188rem;
  display: flex;
  flex-direction: column;
  font-family: "Space Mono";
}

.montenegro_require {
  font-size: 18.2143px;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #333333;
  padding-left: 0.9375rem;
  font-family: "Space Mono";
}

.montenegro_ideas {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 27.5px;
  margin: auto;
  padding-bottom: 5.5rem;
}

.montenegro_sixth {
  background-color: #f5f5f6;
}

.statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 6rem;
  padding-left: 4rem;
  font-family: "Space Mono";
}

.avatar {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}

.name_company {
  display: flex;
  flex-direction: column;
  padding-top: 0.625rem;
  font-family: "Space Mono";
}

.montenegro_seventh {
  background-image: url("../../../content/images/hackerhouse/montenegro/codingnoise.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 29.5rem;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 5.25rem 4.375rem;
  font-size: 1.1381rem;
  font-family: "Space Mono";
}

.mon_vector {
  margin-top: 2rem;
  width: 40px;
  height: 40px;
}

.vertical {
  width: 2px;
  height: 26px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.incline {
  width: 15px;
  height: 2px;
  background-color: white;
  transform: rotate(140deg);
  transform: translate(-10px, 0) rotate(140deg);
  margin-left: 10px;
  margin-top: -7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.montenegro_content span,
.montenegro_third span,
.montenegro_fourth span,
.montenegro_fifth span {
  color: #2222ff;
}

.underline {
  text-decoration-line: underline;
}

.commentgap {
  margin-top: 2rem;
}
.character {
  text-indent: 1.2em;
}
.olcharacter{
  margin-left: 0.5rem;
}

.margingap{
  margin-top: 1.5rem;
}

@media only screen and (max-width: 340px) {
  .montenegro_fourth,
  .montenegro_third,
  .montenegro_fourth,
  .montenegro_fifth {
    flex-direction: column;
    font-size: 1rem;
  }

  .montenegro_fourth {
    flex-direction: column-reverse;
  }

  .montenegro_first {
    height: 32.1875rem;
    padding-top: 1.25rem;
    margin-top: 0rem;
    background-image: url("../../../content/images/hackerhouse/montenegro/montenegrobgsmall.png");
  }

  .montenegro_button {
    padding: 6px 24px 8px;
    gap: 10px;
    width: 140px;
    height: 38px;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 18px;
    box-sizing: border-box;
    margin-top: 32px;
  }

  .montenegro_detail {
    flex-direction: column;
    align-items: center;
  }

  .montenegro_second {
    padding: 4.6875rem 2.8125rem;
  }

  .montenegro_content {
    font-size: 12px;
    width: 18.75rem;
    margin-left: 0.675rem;
    margin-top: 1rem;
  }

  .montenegro_title {
    padding-top: 3rem;
    font-size: 1.275rem;
    color: #333333;
    font-family: "Space Mono Bold";
    margin-bottom: 0rem;
  }

  .montenegro_content,
  .montenegro_require {
    font-size: 0.75rem;
  }

  .montenegro_slogon {
    font-size: 1.25rem;
    width: 22.125rem;
  }

  .montenegro_theme1,
  .montenegro_theme2,
  .montenegro_theme3 {
    font-size: 12px;
    line-height: 18px;
  }

  .montenegro_activity {
    padding-top: 3.9375rem;
    gap: 0rem;
  }

  .montenegro_seventh {
    height: 32rem;
    padding: 3.25rem 2.375rem;
    font-size: 0.75rem;
    /* background-size: 100% 100%; */
    background-image: url("../../../content/images/hackerhouse/montenegro/codingbg.png");
  }

  .montenegro_third {
    background-color: #ffffff;
  }

  .montenegro_require {
    font-size: 12px;
  }

  .montenegro_participate {
    width: 20rem;
    gap: 0.9375rem;
    padding: 4rem 2rem;
    font-size: 0.75rem;
    height: 24rem;
  }

  .keyboard,
  .schedule,
  .coding {
    height: 18rem;
    width: 100%;
    padding-top: 15%;
    background-color: #000000;
  }

  .montenegro_ideas {
    padding-bottom: 2rem;
  }

  .statement {
    padding: 4rem 2rem;
    font-size: 0.625rem;
  }

  .montenegro_third img,
  .montenegro_fourth img,
  .montenegro_fifth img {
    width: 100%;
  }

  .vertical {
    width: 2px;
    height: 26px;
  }

  .incline {
    width: 10px;
    height: 2px;
    margin-top: -6px;
  }
  .character {
    text-indent: 0em;
  }
  .olcharacter{
    margin-left: 0rem;
  }
  .margingap{
    margin-top: .8rem;
  }

}

@media (min-width: 340px) and (max-width: 500px) {
  .montenegro_fourth,
  .montenegro_third,
  .montenegro_fourth,
  .montenegro_fifth {
    flex-direction: column;
    font-size: 1rem;
  }

  .montenegro_fourth {
    flex-direction: column-reverse;
  }

  .montenegro_first {
    height: 32.1875rem;
    padding-top: 1.25rem;
    margin-top: 0rem;
    background-image: url("../../../content/images/hackerhouse/montenegro/montenegrobgsmall.png");

  }

  .montenegro_button {
    padding: 6px 24px 8px;
    gap: 10px;
    width: 140px;
    height: 38px;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 18px;
    box-sizing: border-box;
    margin-top: 32px;
  }

  .montenegro_detail {
    flex-direction: column;
    align-items: center;
  }

  .montenegro_second {
    padding: 4.6875rem 2.8125rem;
  }

  .montenegro_content {
    font-size: 12px;
    width: 18.75rem;
    margin-left: 0.675rem;
    margin-top: 1rem;
  }

  .montenegro_title {
    padding-top: 3rem;
    font-size: 1.275rem;
    color: #333333;
    font-family: "Space Mono Bold";
    margin-bottom: 0rem;
  }

  .montenegro_content,
  .montenegro_require {
    font-size: 0.75rem;
  }

  .montenegro_slogon {
    font-size: 1.25rem;
    width: 22.125rem;
  }

  .montenegro_theme1,
  .montenegro_theme2,
  .montenegro_theme3 {
    font-size: 12px;
    line-height: 18px;
  }

  .montenegro_activity {
    padding-top: 3.9375rem;
    gap: 0rem;
  }

  .montenegro_seventh {
    height: 32rem;
    padding: 4.25rem 2.375rem;
    font-size: 0.75rem;
    background-image: url("../../../content/images/hackerhouse/montenegro/codingbg.png");
    background-size: 100% 100%;
  }

  .montenegro_third {
    background-color: #ffffff;
  }

  .montenegro_require {
    font-size: 12px;
  }

  .montenegro_participate {
    width: 24rem;
    gap: 0.9375rem;
    padding: 4rem 2rem;
    font-size: 0.75rem;
    height: 24rem;
  }

  .keyboard,
  .schedule,
  .coding {
    height: 22.375rem;
    width: 100%;
    padding-top: 15%;
    background-color: #000000;
  }

  .montenegro_ideas {
    padding-bottom: 2rem;
  }

  .statement {
    padding: 6rem 2rem;
    font-size: 0.625rem;
  }

  .montenegro_third img,
  .montenegro_fourth img,
  .montenegro_fifth img {
    width: 100%;
  }

  .vertical {
    width: 2px;
    height: 26px;
  }

  .incline {
    width: 10px;
    height: 2px;
    margin-top: -6px;
  }
  .character {
    text-indent: 0em;
  }

.mobilegap{
  margin-left: .65rem;
}
.olcharacter{
  margin-left: 0rem;
}

}
