

@font-face {
  font-family: Montserrat11;
  src: url(../../font/Montserrat-Regular-8.otf);
}

@font-face {
  font-family: Montserrat22;
  src: url(../../font/Montserrat-Light-6.otf);
}

@font-face {
  font-family: Montserrat33;
  src: url(../../font/Montserrat-Bold-3.otf);
}

@font-face {
  font-family: Alibaba_PuHuiTi;
  src: url(../../font/Alibaba_PuHuiTi_2.0_55_Regular_55_Regular.ttf);
}

@font-face {
  font-family: PlusJakartaSans;
  src: url(../../font/PlusJakartaSans-ExtraBold.ttf);
}

@font-face {
  font-family: PlusJakartaSansRegular;
  src: url(../../font/PlusJakartaSans-Regular.ttf);
}


.container {
  margin: auto;
}

.denver {
  width: 100%;
  height: calc(930px + 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fae2a0;
  position: relative;
}

.denver_bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 58.125rem;
  min-height: 58.125rem;
  z-index: 0;
}

.denver_activity {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.denver_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  width: 49.9375rem;
  height: 14.125rem;
  background: rgba(255, 255, 255, 0.26);
  border: .224rem solid rgba(255, 255, 255, 0.1);
  border-radius: 1.792rem;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 1.5625rem;
  margin-top: 6.25rem;
}

.denver_title {
  font-family: "PlusJakartaSans";
  font-size: 3.9375rem;
  line-height: 5rem;
  display: flex;
  align-items: center;
  letter-spacing: -2px;
  color: #0f1227;
}

.denver_theme {
  font-family: "PlusJakartaSans";
  font-size: 4.75rem;
  line-height: 5.375rem;
  display: flex;
  align-items: center;
  color: #2222ff;
}

.denver_detail {
  width: 50rem;
  height: 14.0625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.denver_timeloca {
  font-family: "Montserrat22";
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #0f1227;
  text-align: center;
  margin-top: 1.25rem;
}

.denver_button {
  padding: 1.1875rem 1.5rem;
  gap: .625rem;
  width: 9.6875rem;
  height: 3.875rem;
  background: #2222ff;
  border-radius: .5rem;
  line-height: 1.5rem;
  color: #ffffff;
  font-family: "PlusJakartaSans";
  font-size: .9375rem;
  line-height: 1.5rem;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  border: #2222ff 1px solid;
  cursor: pointer;
}

.denver_contact {
  display: flex;
  flex-direction: row;
}

.denver_add {
  font-family: "Montserrat22";
  font-size: 1rem;
  line-height: 1.25rem;
  color: #56565d;
  margin-right: 1.25rem;
}

.denver_email {
  font-family: "Montserrat11";
  font-size: 1rem;
  line-height: 1.25rem;
  color: #53545c;
}

.FAQsbg {
  width: 100%;
  height: 112.5rem;
  background-color: #2222ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FAQs {
  display: flex;
  flex-direction: row;
  padding: 36px 36px;
  width: 90%;
  height: 800px;
  background: #ffffff;
  border: 4px solid #2222ff;
  border-radius: 16px;
  margin-top: -80px;
  z-index: 2;
}

.fbox {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.boxtitle {
  font-family: "PlusJakartaSans";
  font-style: normal;
  font-weight: 800;
  font-size: 63px;
  line-height: 80px;
  color: #131313;
  margin-bottom: 25px;
}

.faqsbox_list ul li {
  list-style-type: none;
  width: 100%;
  height: 4.375rem;
  padding: 1.25rem 10.6875rem 1.375rem 1.3125rem;
  background: rgba(12, 81, 63, 0.02);
  border: 1px solid #e7eeec;
  border-radius: .5rem;
  font-family: "PlusJakartaSans";
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  color: #131313;
  margin-top: .625rem;
  margin-left: -2.5rem;
  cursor:pointer; 
}
.faqsbox_list ul li.highlight{
  background-color: blue;
  color: #ffffff;
  position: relative;
}

.highlight::after{
  position: absolute;
  background-image: url("../../../content/images/hackerhouse/yellowstar.png");
  right:24px;
  content: '';
  width: 1.5rem;
  height: 1.5625rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ansbox_list {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #fedf89;
  display: flex;
  flex-direction: column;
  padding: 2.8125rem 2.8125rem 2.8125rem 3.125rem;
  color: #2222ff;
  font-family: "PlusJakartaSansRegular";
  font-size: 1.375rem;
  line-height: 2.25rem;
  margin-top: .75rem;
}

.ansbox_list div img{
  margin-bottom: 1.875rem;
}


.denver_photos {
  display: flex;
  justify-content: center;
  width: 90%;
  border: 4px s olid #2222ff;
  z-index: 2;
  margin-top: 4.6875rem;
  gap: 1.5625rem;
}

.denver_photos_leftbox {
  background: #ffffff;
  height: 100%;
  width: 38.25rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.denver_house_title {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.denver_photos_rightbox {
  background: #ffffff;
  height: 100%;
  border-radius: 16px;
}

.photos_title {
  width: 22.5625rem;
  height: 13.5rem;
  font-family: "PlusJakartaSans";
  font-size: 3.625rem;
  line-height: 4.5rem;
  display: flex;
  align-items: center;
  letter-spacing: -3px;
  color: #0a0a0a;
  margin: 2.5rem 0 0 2.5rem;
}

.twitterbutton {
  width: 13.4669rem;
  height: 3rem;
  left: calc(50% - 13.4669rem / 2 - 9.8919rem);
  top: 17.4138rem;
  background: #1da1f2;
  border-radius: 8px;
  font-family: "PlusJakartaSansregular";
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
  border: #1da1f2 1px solid;
  margin: 1.5625rem 0 0 2.5rem;
  cursor: pointer;
}

.twitterbutton img{
  margin: 0 .3125rem;
}

.denverhousimg {
  margin: 5rem 0 1.875rem 0;
}

.photos_right_arrow {
  margin-top: 3.125rem;
}

.denver_photos_rightbox {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


.content{
  margin-left: -0.625rem;
  margin-top: -1.875rem;
}


.box img {
  width: 100%;
  height: 50rem;
}



@media (min-width: 20rem) and (max-width: 33.75rem) {
  .denver {
    height: 42rem;
    background-color: transparent;
  }

  .denver_box {

    width: 21.875rem;
    height: 12.5rem;
    margin: 0 0 3.125rem 0;

  }
  
  .denver_title {
  
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
  
  .denver_theme {
    font-size: 2.875rem;
    line-height: 5.375rem;
  }
  
  .denver_detail {
    width: 50rem;
    height: 14.0625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .denver_timeloca {
    font-size: 1.125rem;
    margin-top: 0.75rem;
  }
  
  .denver_button {
  
    width: 9.6875rem;
    height: 3.875rem;
    font-size: .875rem;
    margin: 2.725rem 0;
  }
  
  .denver_contact {
    display: flex;
    flex-direction: row;
  }
  

  .denver_add {
    font-size: .625rem;
    padding-top: 2px;

  }
  
  .denver_email {
    font-size: .75rem;
  }
  
  .FAQsbg {
    height: 120rem;
  }
  
  .FAQs {
    display: flex;
    flex-direction: column;
    padding: 2.25rem 2.25rem;
    width: 90%;
    height: 60rem;
    border-radius: 1rem;
    margin: 0rem 1.25rem 0 1.25rem;
  }
  
  .fbox {
    height: 80%;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  
  .boxtitle {
    font-size: 2.25rem;
    margin-bottom: -5px;
  }

  .faqsbox_list ul li {
    width: 17.5rem;
    height: 3.125rem;
    font-size: .875rem;
    padding: .3125rem 0 0 .625rem;
  }

  .content{
    margin-left: -1.25rem;
    margin-top: 0;
  }
  
  .ansbox_list {
    font-size: .875rem;
    line-height: 1.1875rem;
    margin-top: .75rem;
    padding: 2.1875rem 1.5625rem 1.5625rem 1.5625rem;
  }

  
  .ansbox_list div img{
    margin-bottom: .625rem;
  }
  
  
  .denver_photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    border: .25rem solid #2222ff;
    z-index: 2;
    margin-top: 4.6875rem;
    gap: 1.5625rem;
  }
  
  .denver_photos_leftbox {
    background: #ffffff;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .denver_house_title {
    display: flex;
    gap: 6.25rem;
  }
  
  .denver_photos_rightbox {
    background: #ffffff;
    height: 100%;
    border-radius: 1rem;
  }
  
  .photos_title {
    font-size: 2.375rem;
    height: 70%;
    line-height: 3.25rem;
    margin: 2.625rem 0 0 2.5rem;
  }
  
 
  
  .twitterbutton img{
    margin: 0 .3125rem;
  }
  
  .denverhousimg {
    margin: 5rem 0 1.875rem 0;
  }
  
  .photos_right_arrow {
    margin-top: 3.125rem;
  }
  
  .denver_photos_rightbox {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 100%;
    line-height: initial;
  }

  
.photos_right_arrow{
  display: none;
}

  .denverhousimg{
    width: 100%;
    overflow: hidden;
  }
  

.swipper{
  height: 24.5rem;
}

 .box img{
  height: 25rem;
  
 }

  .denverhousimg img{
    width: 100%;
   
  }


  
}
