/* 第四页 */
.footer{
    background-color:#2222FF;
    max-width: 90rem;
    margin: auto;
    display: flex;
   justify-content: space-between;
  }
  
  .footer-left{
    margin:70px 40px;
 
  }
  
  .footer-text{
    width: 400px;
   font-size: 16px;
   color: #F5F5F6;
   font-family: "Montserrat6";
   margin-top:30px;
  }
  
  .footer-right{
    height: 24px;
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-top: 70px;
    margin-right: 40px;
  }
  
  .footer-mail{
   font-size: 16px;
   color: #F5F5F6;
   font-family: "Montserrat6";
  }

  @media  only screen and (max-width: 500px) {

    .footer-text{
      width: 320px;
     font-size: 16px;
     color: #F5F5F6;
     font-family: "Montserrat6";
     margin-top:30px;
    }

    .footer{
      display: flex;
      flex-direction: column;
    }
    .footer-right{

      margin: 50px 40px;
    }
  
  }