
@font-face {
  font-family: Interlight;
  src: url(../font/Inter-Light-7.otf);
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url(../font/Montserrat-ExtraLight-5.otf);
}


.footer {
  background-color: hsl(240, 100%, 57%);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  background-image: url("../../content/images/antalpha/noise.png");
}

.footer-left {
  margin: 70px 40px;
  display: flex;
  gap:25px;
  flex-direction: column;
}

.footer-text {
  width: 420px;
  font-size: 24px;
  color: #f5f5f6;
  font-family: "Montserrat6";
  line-height: 32px;
}

.footer-claim{
  color: #F5F5F6;
  font-family: 'Interlight';
  opacity: 0.55;
  font-size: 16px;
}

.footer-right {
  height: 28px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 70px;
  margin-right: 40px;
  flex-wrap: wrap;
}

.footer-right img {
  width: 35px;
  height: 26px;
  width: 100%;
}

.footer-mail {
  font-size: 16px;
  color: #f5f5f6;
  font-family: "Montserrat6";
}

.input-box {
  /* background-color: transparent; */
  width: 477.35px;
  height: 98px;
  display: flex;
  flex-direction: row;
  /* margin-left: -40px;
  margin-top: 20px; */
  margin-bottom: -10px;
}
input{
  width: 400px;
  height: 68px;
  background-color: transparent;
  border: 2px solid rgba(218, 218, 219, 0.2);
  border-radius: 10px 0 0 10px;
  opacity: 0.5;
  font-size: 16px;
  padding-left: 20px;
}
input::placeholder{
  color: #f5f5f6;
  font-family: 'Montserrat-ExtraLight';
}

.white-box {
  height: 68px;
  width: 66px;
  background-color: white;
  border-radius: 0 10px 10px 0;
  position: relative;
  border: #F5F5F6;
}

.white-box::after{
  content: '';
  display: block;
  position: absolute;
  padding:10px;
  top:23px;
  right: 23px;
  background-image: url("../../content/images/footer/emailarrow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media only screen and (max-width: 500px) {
  .footer-text {
    width: auto;
    font-size: 16px;
    color: #f5f5f6;
    font-family: "Montserrat6";
  }
  .footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .footer-right {
    margin: 40px 40px;
    flex-wrap: wrap;
  }
  .footer-right img {
    width: 100%;
  }
  .footer-left {
    margin: 40px 40px 0 40px;
  }
  .footer-right {
    gap: 0.875rem;
    font-size: 0.8125rem;
  }
  input {
    width: 280px;
    height: 48px;
    font-size: 14px;

  }
  .white-box {
    height: 48px;
    width: 46px;
  }
  .white-box::after{
    padding:8px;
    top:15px;
    right: 15px;

  }

  .input-box {
    width: 260px;
    height: 48px;
  }

  .footer-claim{
    font-size: 12px;
  }
  input::placeholder{

    font-size: 14px;
  }

}

@media (min-width: 501px) and (max-width: 1000px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .footer-right {
    margin: 40px 40px;
    flex-wrap: wrap;
  }
}
