/* .navi{
    max-width: 90rem;
    margin: auto;
} */

@font-face {
  font-family: mobileMontserrat;
  src: url(../font/Montserrat-Regular-8.otf);
}


/* PC端 */
.web {
  position: fixed;
  top: 0;
  height: 5.5rem;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: white;
  background-image: url("../../content/images/navi/Navbar.png");
  z-index: 9999999999;
}

.logo {
  margin-left: 2.5rem;
  width: 18.125rem;
  height: 2.5rem;
  background-image: url("../../content/images/navi/logoweb.png");
}

.navi-links {
  display: flex;
  gap: 3.75rem;
  font-family: "Montserrat5";
  font-size: 24px;
  list-style: none;
  justify-content: center;
  position: relative;
  right: 4%;
}

.navi-links__item1::before {
  /* position: absolute; */
  left: 0.975rem;
  padding-right: 0.5rem;
  content: "<";
  font-size: 25px;
  color: #435aff;
}
.navi-links__item1::after {
  /* position: absolute; */
  padding-left: 0.5rem;
  content: ">";
  font-size: 25px;
  color: #435aff;
}

.line {
  /* position: absolute; */
  width: 0px;
  height: 1px;
  background-color: #2222ff;
  bottom: 0;
  transition: width ease 0.3s;
}

.navi-links__item1:hover .line {
  width: 50%;
}

.navi-links__item2:hover .line {
  width: 24%;
}

/* 移动端 */

.web,
.mobile {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .web {
    display: none;
  }
  .mobile {
    width: 100vw;
    height: 3rem;
    padding-bottom: 0.6rem;
    display: flex;
  
    top: 0;
    background-color: white;
    z-index: 9999999999;
  }

.mobile .mobilelogo {
  width: 8.3125rem;
  height: 1.5625rem;
  margin-left: 1rem;
  cursor: pointer;
}

.mobile .menu {
  background-image: url("../../content/images/navi/menu.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1.5625rem;
  width: 1.5625rem;
  right: 1rem;
  cursor: pointer;
  position: absolute;
}

.mobile ul {
  width: 100%;
  top: 5rem;
  flex-direction: column;
  position: relative;
  right: 0px;
  z-index: 9999;
}

.navi-links {
  display: flex;
  gap: 0rem;
  justify-content: flex-end;
  right: 12px;
}


.navi-links__item{
  font-family: 'mobileMontserrat';
  font-size: .875rem;
  height: 3.75rem;
  background-image: url("../../content/images/navi/navibg_small.png");
  display: flex;
  justify-content: flex-end;
  padding-right:10px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
}

.navi-links__item img{
  width: 1.5rem;
  height:1.5rem;
}

}

@media (min-width: 700px) and (max-width: 1400px) {
  .mobile{display: none;}
}