.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .carousel-container .carousel-body {
    height: 100%;
  }
  
  .carousel-container .carousel-body .carousel-item {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  
  .carousel-container .carousel-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: -630px;
    top: 290px;
  }
  
  .carousel-container .carousel-footer .indicators-container {
    text-align: center; 
    padding: 0;
  }
  
  .carousel-container .carousel-footer .indicators-container .indicators-item {
    list-style: none;
    display: inline-block;
    opacity: 0.48;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: grey;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: 2s;
    margin: -20px 10px;
    
  }
  
  .carousel-container
    .carousel-footer
    .indicators-container
    .indicators-item.active {
    opacity: 1;
  }
  
  .carousel-container .btn-container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-container .btn-container .btn-direction {
    padding: 0;
    margin: 0;
    height: 42px;
    line-height: 38px;
    width: 36px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    background-color: rgba(31, 45, 61, 0.11);
    color: #fff;
    top: 50%;
    z-index: 10;
    /* text-align: center; */
    font-size: 12px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
  }
  
  .carousel-container .btn-container .pre {
    left: 12px;
  }
  
  .carousel-container .btn-container .next {
    right: 12px;
  }
  
  .carousel-container:hover .btn-direction {
    opacity: 1;
  }
  
  .carousel-container:hover .btn-direction.pre {
    left: 24px;
  }
  
  .carousel-container:hover .btn-direction.next {
    right: 24px;
  }
  